

  nav {
    background-color: purple;
    height: 50px;
    width: 100%;

  }

  .main-nav {
    display: inline-block;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
  }

  li:hover {
    background-color: white;
    color: purple;
    border-radius: 20px;
  }

  .hidden {
    display: none;
  }

  #side-nav {
  background-color: purple;
  color: white;
  height: 100vh;
  width: 250px;
  }

  
